h1{
    
    text-align: center;
    color:rgb(255, 136, 0);
    font-size: 50px;
}
p{
    font-size: 20px;
    text-align: justify;

}
#end{
    text-align: center;
    font-size: 30px;

}
#emo{
    text-align: center;
}
#next{
    text-align: center;
    color: red;
    font-size: 25px;
}